* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #676767;
}
.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}
.container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    gap: 10%;
}
.blog-box {
    background: white;
    padding: 20px;
    width: 48%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.blog-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.blog-box:active {
    transform: scale(0.95);
}
.blog-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}
.blog-content {
    font-size: 16px;
    color: #666;
}
.blog-tap {
    text-align: center;
    margin: 25px;
}