* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230630/pngtree-spooky-witch-silhouette-black-and-white-3d-glitch-style-virtual-reality-image_3702162.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}
.container {
    width: 80%;
    margin: 20px auto;
}
.blog-box {
    background: #333;
    padding: 100px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-decoration: none; 
    color: inherit;
    display: block; 
}
.blog-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.blog-box:active {
    transform: scale(0.95);
}
.blog-title {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}
.blog-content {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}
.img img {
    width: 100%; 
    height: auto; 
    max-width: 300px; 
    display: block;
    margin: 0 auto; 
    border-radius: 10px; 
}
.blog-attention {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    margin: 25px;
}